
@{
    ViewData["Title"] = "Combate";
}
<h1 class="mb3">Combate</h1>
<div class="text-center mt-5">
    <a href="@Url.Action("NombreDeLaAccion", "Pokemon")" class="btn btn-primary btn-lg mx-2">Contra mi equipo</a>

    <a href="@Url.Action("OtraAccion", "Pokemon")" class="btn btn-secondary btn-lg mx-2">Entre equipos aleatorios</a>
</div>

