@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

h1, .nav-link {
    font-family: 'Press Start 2P';
}

.navbar-brand {
    font-family: 'Press Start 2P';
    font-size: 12px;
}

.nav-item {
    font-size: 14px;
    transition: transform 0.3s;
}

    .nav-item:hover {
        transform: scale(1.03);
    }
